.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  height: 80%;
  border-radius: 10px;
  -webkit-box-shadow: -10px 5px 10px #5e5a5a;
          box-shadow: -10px 5px 10px #5e5a5a;
  position: fixed;
  top: 5rem;
  left: calc(45vw / 2);
  background-color: #fff;
  z-index: 999;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

@media only screen and (max-width: 1278px) {
  .modal {
    width: 80vw;
    left: 10%;
  }
}

@media only screen and (max-width: 710px) {
  .modal {
    width: 100%;
    left: 0;
  }
}

.modal .modal-exit {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  z-index: 999;
}

.modal .modal-exit .cross-icon {
  color: #242424 !important;
}

.modal .modal-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  background-image: url("../../images/cars/car14.jpg");
  background-size: cover;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media only screen and (max-width: 475px) {
  .modal .modal-left {
    display: none;
  }
}

.modal .modal-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #cad5e2;
}

@media only screen and (max-width: 475px) {
  .modal .modal-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.modal .modal-right .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

@media only screen and (max-width: 948px) {
  .modal .modal-right .form {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .modal .modal-right .form {
    width: 100%;
  }
}

.modal input {
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  color: #000d1a;
  border-color: transparent;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;
}

.modal label {
  color: #000d1a;
  font-size: 12px;
  margin: 0;
}

.modal #msg {
  resize: none;
  color: #000d1a;
  border-color: transparent;
  padding: 8px;
  height: 50px;
  width: 100%;
  margin: 8px;
  border-radius: 10px;
}

.modal #check {
  font-size: 10px;
  color: #000d1a;
  margin: 5px;
}

.modal .form-btton__wrapper {
  width: 50%;
  height: 2rem;
  border-radius: 10em;
  background-color: #cd853f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px 6px;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.modal .form-btton__wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 540px) {
  .modal .form-btton__wrapper {
    width: 55%;
  }
}

.modal .form-btton__wrapper button {
  background-color: transparent;
  padding: 5px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.modal .form-btton__wrapper button:focus {
  outline: none;
}

.form-checkbox__check {
  border-radius: 0.2rem;
  height: 1.2rem;
  width: 1.5rem;
  padding: 0.3rem;
  right: 22rem;
  position: absolute;
  top: 76%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0.1rem solid #cd853f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 948px) {
  .form-checkbox__check {
    right: 19rem;
  }
}

@media only screen and (max-width: 845px) {
  .form-checkbox__check {
    right: 16rem;
  }
}

@media only screen and (max-width: 728px) {
  .form-checkbox__check {
    right: 17rem;
  }
}

@media only screen and (max-width: 605px) {
  .form-checkbox__check {
    right: 15rem;
  }
}

@media only screen and (max-width: 540px) {
  .form-checkbox__check {
    right: 13rem;
  }
}

@media only screen and (max-width: 540px) {
  .form-checkbox__check {
    right: 11rem;
    height: 1rem;
    width: 1.2rem;
  }
}

@media only screen and (max-width: 475px) {
  .form-checkbox__check {
    left: 3rem;
  }
}

@media only screen and (max-width: 375px) {
  .form-checkbox__check {
    left: 1rem;
    top: 82%;
  }
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.modal-success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.modal-success p {
  color: #000d1a;
  font-size: clamp(0.7em, 4vw, 1.5em);
}

.modal-success .icon {
  width: 40%;
  height: 30%;
  margin: 50px;
  background-image: url("../../images/icons/md-s.webp");
  background-size: cover;
}

.info.red {
  color: #ff0000;
  font-size: 12px;
}
/*# sourceMappingURL=index.css.map */