$btn-primary: #cd853f;
$color: #000d1a;
$radius: 10px;

@mixin flexBox($direction) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: $direction;
}

@mixin fullSize {
      height: 100%;
      width: 100%;
}

.modal {
      @include flexBox(column);
      width: 60vw;
      height: 80%;
      border-radius: $radius;
      box-shadow: -10px 5px 10px #5e5a5a;
      position: fixed;
      top: 5rem;
      left: calc(45vw / 2);
      background-color: #fff;
      z-index: 999;
      transition: 1s ease-in;

      @media only screen and (max-width: 1278px) {
            width: 80vw;
            left: 10%;
      }

      @media only screen and (max-width: 710px) {
            width: 100%;
            left: 0;
      }

      .modal-exit {
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 1rem;
            height: 1rem;
            z-index: 999;

            .cross-icon {
                  color: #242424 !important;
            }
      }

      .modal-left {
            flex-basis: 50%;
            height: 100%;
            background-image: url("../../images/cars/car14.jpg");
            background-size: cover;
            border-radius: $radius;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            @media only screen and (max-width: 475px) {
                  display: none;
            }
      }

      .modal-right {
            flex-basis: 50%;
            height: 100%;
            @include flexBox(column);
            border-radius: $radius;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: #cad5e2;

            @media only screen and (max-width: 475px) {
                  flex-basis: 100%;
            }

            .form {
                  @include flexBox(column);
                  width: 60%;

                  @media only screen and (max-width: 948px) {
                        width: 80%;
                  }

                  @media only screen and (max-width: 400px) {
                        width: 100%;
                  }
            }
      }

      input {
            display: block;
            margin: 10px;
            border-radius: 10px;
            padding: 8px;
            width: 100%;
            color: $color;
            border-color: transparent;
      }

      input:focus,
      textarea:focus {
            outline: none;
      }

      label {
            color: $color;
            font-size: 12px;
            margin: 0;
      }

      #msg {
            resize: none;
            color: $color;
            border-color: transparent;
            padding: 8px;
            height: 50px;
            width: 100%;
            margin: 8px;
            border-radius: $radius;
      }

      #check {
            font-size: 10px;
            color: $color;
            margin: 5px;
      }

      .form-btton__wrapper {
            width: 50%;
            height: 2rem;
            border-radius: 10em;
            background-color: $btn-primary;
            display: flex;
            justify-content: center;
            margin: 12px 6px;
            transition: .5s ease-out;

            &:hover {
                  transform: scale(1.1);
            }

            @media only screen and (max-width: 540px) {
                  width: 55%;
            }

            button {
                  background-color: transparent;
                  padding: 5px;
                  border: none;
                  color: #fff;
                  font-size: 14px;
                  font-weight: 500;
            }

            button:focus {
                  outline: none;
            }
      }
}

.form-checkbox__check {
      border-radius: 0.2rem;
      height: 1.2rem;
      width: 1.5rem;
      padding: 0.3rem;
      right: 22rem;
      position: absolute;
      top: 76%;
      transform: translateY(-50%);
      border: 0.1rem solid #cd853f;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 948px) {
            right: 19rem;
      }

      @media only screen and (max-width: 845px) {
            right: 16rem;
      }

      @media only screen and (max-width: 728px) {
            right: 17rem;
      }

      @media only screen and (max-width: 605px) {
            right: 15rem;
      }

      @media only screen and (max-width: 540px) {
            right: 13rem;
      }

      @media only screen and (max-width: 540px) {
            right: 11rem;
            height: 1rem;
            width: 1.2rem;
      }

      @media only screen and (max-width: 475px) {
            left: 3rem;
      }

      @media only screen and (max-width: 375px) {
            left: 1rem;
            top: 82%;
      }
}

.modal-content {
      @include flexBox(row);
      @include fullSize();
}

.modal-success {
      @include flexBox(column);
      @include fullSize();

      p {
            color: $color;
            font-size: clamp(0.7em, 4vw, 1.5em);
      }

      .icon {
            width: 40%;
            height: 30%;
            margin: 50px;
            background-image: url("../../images/icons/md-s.webp");
            background-size: cover;
      }
}

.info.red {
      color: #ff0000;
      font-size: 12px;
}