$main-color: #0b0b15;
$hover-color: #CD853F;
$footer-color: #06060f;

@mixin fullSize {
      width: 100%;
      height: 100%;
}

@mixin flexBox($direction) {
      display: flex;
      flex-direction: $direction;
      align-items: center;
      justify-content: center;
}