.container__main{
      @media only screen and (max-width: 678px) {
            margin-top: 5rem;
      }

      @media only screen and (max-width: 578px) {
            margin-top: 8rem;
      }
}

.container__right {
width:50%;
background-color:transparent;
height: 100%;
display:flex;
align-items: center;
justify-content: center;
flex:1;

@media only screen and (max-width: 886px) {
      justify-content: flex-start;   
}

p {
      padding: 0 80px;
      width: 80%;
      margin-left:80px;

      @media only screen and (max-width: 886px) {
            margin-left:0px;  
      }

      @media only screen and (max-width: 828px) {
            padding: 0;
            font-size:16px;
      }

      @media only screen and (max-width: 410px) {
            padding: 0;
            font-size:14px;
      }
}
}

.container__left {
      height: 100%;
      width:50%;
      display: flex;
      justify-content: flex-end;;
      position:relative;
      flex: 1;

      @media only screen and (max-width: 828px) {
            justify-content: flex-start;

            &:before {
                  display:none
            }
 }

      &:before {
            content: '';
            width:65%;
            height:10%;
            background-color: #000;
            filter: drop-shadow(20px 12px 6px black);
            opacity: 0.7;
            position:absolute;
            top:0;
            right:15px;
      }

      img{
            object-fit: cover;
            transition: .5s; 
            z-index:100;

            @media only screen and (max-width: 828px) {
                 width:50%;
                 margin-left:2rem;
      }
      
            &:hover {
                  transform:scale(1.07);
            }
}
}

.anime {
      animation: slideTxtAnimation 2s linear 1;
    }
    
    @keyframes slideTxtAnimation {
      from {
        transform: translateX(-100%)
      }
    
      to {
        transform: translateX(0%);
      }
    }



