@import "../../basic-style/variables";

/* Footer */
.footer {
      background-color: $footer-color;
      @include fullSize();
      @include flexBox(column);
      margin-top: 13rem;

      .col-12 {
            height: 10rem;
            width: 100%;
            @include flexBox(column);
            justify-content: flex-end;

            .arr--up {
                  color: #fff;
                  font-size: 4em;
                  transition: 0.5s ease;

                  &:hover {
                        transform: scale(1.1);
                        color: $hover-color;
                  }
            }
      }

      .divider {
            background-color: #fff;
            width: 90%;
            height: 3px;
            margin-top: 4rem;
      }

      .sm-content {
            width: 100%;
            display: flex;

            @media only screen and (max-width: 486px) {
                  flex-direction: column;
                  align-items: center;
            }
      }

      .col-8 {
            @include flexBox(row);
            flex-basis: 50%;

            span {
                  color: #fff;
                  padding: 6px 12px;
                  cursor: pointer;
                  user-select: none;

                  @media only screen and (max-width: 768px) {
                        font-size: 12px;
                  }

                  &:hover {
                        color: $hover-color;
                  }
            }

            .sm__icon {
                  color: #5a5757;
                  font-size: 2em;
                  margin: 1em;

                  @media only screen and (max-width: 570px) {
                        font-size: 1em;
                  }

                  &:hover {
                        color: $hover-color;
                  }
            }

            #primary {
                  color: $hover-color;
            }
      }

      .footer-content {
            @include fullSize();
            @include flexBox(row);
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 6rem;
      }
}

/* Footer Data Element */
.data-col {
      width: 100%;
      height: 100%;
      @include flexBox(column);
      margin-left: 10px;

      @media only screen and (max-width: 345px) {
            align-items: baseline;
            margin-left: 1rem;
      }

      .title {
            color: #fff;
            font-size: clamp(1rem, 3vw, 1.5rem);
            cursor: pointer;
      }

      .data-list {
            list-style: none;
            width: 70%;

            @media only screen and (max-width: 375px) {
                  margin-left: -2rem;
            }

            li {
                  color: #fff;
                  margin: 10px 0px;
                  cursor: pointer;
                  text-align: center;

                  @media only screen and (max-width: 395px) {
                        font-size: 14px;
                        margin: 10px 5px;
                  }

                  @media only screen and (max-width: 395px) {
                        font-size: 12px;
                  }

                  &:hover {
                        color: $hover-color;
                  }
            }
      }
}

.col-4 {
      width: 25%;

      @media only screen and (max-width: 456px) {
            margin: 35px;
            margin-left: -1rem;
      }
}