/* Footer */
.footer {
  background-color: #06060f;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 13rem;
}

.footer .col-12 {
  height: 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .col-12 .arr--up {
  color: #fff;
  font-size: 4em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .col-12 .arr--up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #CD853F;
}

.footer .divider {
  background-color: #fff;
  width: 90%;
  height: 3px;
  margin-top: 4rem;
}

.footer .sm-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 486px) {
  .footer .sm-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .col-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer .col-8 span {
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 768px) {
  .footer .col-8 span {
    font-size: 12px;
  }
}

.footer .col-8 span:hover {
  color: #CD853F;
}

.footer .col-8 .sm__icon {
  color: #5a5757;
  font-size: 2em;
  margin: 1em;
}

@media only screen and (max-width: 570px) {
  .footer .col-8 .sm__icon {
    font-size: 1em;
  }
}

.footer .col-8 .sm__icon:hover {
  color: #CD853F;
}

.footer .col-8 #primary {
  color: #CD853F;
}

.footer .footer-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 6rem;
}

/* Footer Data Element */
.data-col {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

@media only screen and (max-width: 345px) {
  .data-col {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 1rem;
  }
}

.data-col .title {
  color: #fff;
  font-size: clamp(1rem, 3vw, 1.5rem);
  cursor: pointer;
}

.data-col .data-list {
  list-style: none;
  width: 70%;
}

@media only screen and (max-width: 375px) {
  .data-col .data-list {
    margin-left: -2rem;
  }
}

.data-col .data-list li {
  color: #fff;
  margin: 10px 0px;
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 395px) {
  .data-col .data-list li {
    font-size: 14px;
    margin: 10px 5px;
  }
}

@media only screen and (max-width: 395px) {
  .data-col .data-list li {
    font-size: 12px;
  }
}

.data-col .data-list li:hover {
  color: #CD853F;
}

.col-4 {
  width: 25%;
}

@media only screen and (max-width: 456px) {
  .col-4 {
    margin: 35px;
    margin-left: -1rem;
  }
}
/*# sourceMappingURL=index.css.map */