.card {
  width: 18rem;
  height: 30rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px #232323c9;
          box-shadow: 5px 5px 10px #232323c9;
  -webkit-transition: ease-in;
  transition: ease-in;
  overflow: hidden;
}

@media only screen and (max-width: 425px) {
  .card {
    width: 100%;
  }
}

.card:hover {
  -webkit-box-shadow: 10px 5px 10px #232323c9;
          box-shadow: 10px 5px 10px #232323c9;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card img {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 60%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card .card-title {
  font-weight: 600;
}

.card .card-model {
  font-weight: 600;
  font-size: clamp(0.5em, 2vw, 1em);
}

.card .card-price {
  font-size: 12px;
}

.btn {
  background-color: #0b0b15;
}

.btn:hover {
  background-color: #CD853F;
}
/*# sourceMappingURL=index.css.map */