@import '../../basic-style/variables';

.card {
      width: 18rem;
      height: 30rem;
      margin: 1rem;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #232323c9;
      transition: ease-in;
      overflow: hidden;

      @media only screen and (max-width: 425px) {
            width: 100%;
      }

      &:hover {
            box-shadow: 10px 5px 10px #232323c9;
            transform: scale((1.07));
      }

      .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      img {
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: 60%;
            width: 100%;
            object-fit: cover;
            transition: .5s ease-out;

            &:hover {
                  transform: scale(1.1);
            }
      }

      .card-title {
            font-weight: 600;
      }

      .card-model {
            font-weight: 600;
            font-size: clamp(0.5em, 2vw, 1em);
      }

      .card-price {
            font-size: 12px;
      }
}

.btn {
      background-color: $main-color;

      &:hover {
            background-color: $hover-color;
      }
}